{% extends "blog/header.html"%}
{% block content %}
<br>
<div class='col-sm-8 offset-2'>
  <!--h1>The Blog Home!</h1-->
    <div class="card">
      <p class='card-text'>BoomBap Africa! is a collective of creative individuals with a common interest in showcasing the finest
      	musicians from the continent of Africa. Sometimes life takes these special individuals out of the continent but BoomBap Africa!
      	aims to keep in touch with these musicians and continue showcasing their work.</p>
    </div>
    <br>
</div>
{% endblock content %}